<?php

/**
 * Renombrar este archivo a "local.php" y rellenar con los valores adecuados de configuración.
 */

// Devuelve un array con la configuración específica de cada instalación.
return [
    // Configuración de acceso a la base de datos.
    'basedatos' => [
        'usuario' => '<nombre de usuario>',
        'password' => '<contraseña>',
        'host' => '<host>',
        'dbname' => '<nombre base de datos>',
        'driver' => '<driver base datos>',
    ]
];